
<div th:replace="fragments/header :: modelheader"></div>

<div class="container">

    <div class="py-5 text-center">
        <div class="p-5"></div>
        <h2>Clientes</h2>
        <p class="lead">Cadastrar clientes para efetuar a venda</p>

    </div>

    <div class="row g-5">

        <div class="md-7 lg-8">
            <h4 class="mb-3">Formulário</h4>
            <form class="needs-validation" th:action="${clientePF.id == null} ? @{/clientes/savecliente} : @{/clientes/update}" th:object="${clientePF}" method="post">

                <input type="hidden" th:field="*{id}">

                <div class="row g-3">
                    <div class="sm-6">
                        <label for="name" class="form-label">Nome do cliente</label>
                        <input type="text" class="form-control" id="nomeProduto" placeholder="" value="" th:field="*{nome}">
                        <div class="alert-danger p-1 ps-2 mt-1" th:errors="${clientePF.nome}"></div>
                    </div>
                    <div class="sm-6">
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" class="form-control" id="cpf" placeholder="" value=""  th:field="*{cpf}">
                        <div class="alert-danger p-1 ps-2 mt-1" th:errors="${clientePF.cpf}"></div>
                    </div>
                    <!--
                    <div class="sm-6">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="usuario" th:field="*{usuario.login}">
                    </div>
                    <div class="sm-6">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="password"  th:field="*{usuario.password}">
                    </div>
                   -->
                    <div class="d-inline ">
                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    </div>

            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: modelfooter"></div>